:root {
    --dark-blue-color: #003049;
    --red-color: #D62828;
    --orange-color: #F77F00;
    --light-orange-color: #FCBF49;
    --beige-color: #EAE2B7;
}

@font-face {
    font-family: 'ArchivoBlack';
    src: url(../fonts/ArchivoBlack-Regular.ttf);
    font-display: swap;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--orange-color);
    color: var(--beige-color);
    font-family: 'ArchivoBlack';
    margin: 0;
    min-height: 100vh;
}

.title {
    margin-left: 1rem;
}

.section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section > * {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vh;
    gap: 1rem;
    list-style-type: none;
}

.separator {
    width: 2px;
    height: 80vh;
    background-color: var(--beige-color);
}

.section__activity > a {
    color: var(--dark-blue-color);
    text-decoration: none;
    transition: color .4s ease-in-out;
}

.section__activity > a:hover {
    color: #015c8e;
}