:root {
    --dark-blue-color: #003049;
    --red-color: #D62828;
    --orange-color: #F77F00;
    --light-orange-color: #FCBF49;
    --beige-color: #EAE2B7;
}

@font-face {
    font-family: 'ArchivoBlack';
    src: url(../fonts/ArchivoBlack-Regular.ttf);
    font-display: swap;
}

body {
    background-color: var(--orange-color);
    color: var(--beige-color);
    margin: 0;
    overflow: hidden;
    font-family: 'ArchivoBlack';
}

.header {
    margin: 0;
}

.header > .header__nav {
    position: absolute;
    left: 84%;
    top: 2%;
    width: 25vh;
    background-color: var(--dark-blue-color);
    padding: 1rem;
    border-radius: 4px;
}

.header > .header__nav > .nav__list {
    list-style-type: none;
    margin-left: -1.5rem;
}

.header > .header__nav > .nav__list > .list__item {
    margin-bottom: 1rem;
}

.header > .header__nav > .nav__list > .list__item > .item__link {
    color: var(--beige-color);
    text-decoration: none;
    font-size: 1.5rem;
}

.text--underline {
    width: 0px;
    height: 2px;
    background-color: var(--beige-color);
    transition: width .5s ease-in-out;
}

.header > .header__nav > .nav__list > .list__item:hover > .text--underline {
    width: 145px;
}


.header > .header__title {
    margin: -.5rem;
    font-size: 25vh;
    margin-left: 1rem;
}

.header > .header__title > .cognom1 {
    margin-left: 25%;
}

.header > .header__title > .cognom2 {
    margin-left: 55%;
}

.header > .header__description {
    position: absolute;
    top: 24%;
    margin-left: 1.5rem;
    font-size: 5.6vh;
    max-width: 350px;
    color: var(--dark-blue-color);
}

.header > .header__image {
    position: absolute;
    top: 55%;
    left: 2%;
    width: 50vh;
}