:root {
    --dark-blue-color: #003049;
    --red-color: #D62828;
    --orange-color: #F77F00;
    --light-orange-color: #FCBF49;
    --beige-color: #EAE2B7;
}

.header {
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255, 0.4);
    border-bottom: 1px solid white;
}

.header > .header__nav {
    display: flex;
    justify-content: space-between;
}

.header > .header__nav > .nav__icon {
    margin-left: 1rem;
    color: var(--dark-blue-color);
}

.header > .header__nav > .nav__list {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    text-decoration: none;
    margin-right: 1rem;
}

.header > .header__nav > .nav__list > .list__item > .item__link {
    position: relative;
    text-decoration: none;
    color: var(--dark-blue-color);
    z-index: 2;
    transition: color .5s ease-in-out;
}

.header > .header__nav > .nav__list > .list__item > .bg-hover {
    transform: translateY(-1.4rem);
    width: 0px;
    height: 0px;
    background-color: var(--dark-blue-color);
    margin-bottom: -2rem;
    transition: width .5s ease-in-out;
}

.header > .header__nav > .nav__list > .list__item:hover > .bg-hover {
    width: 100%;
    height: 100%;
    padding-bottom: .4rem;
}

.header > .header__nav > .nav__list > .list__item:hover > .item__link {
    color: var(--beige-color);
}

@media screen and (max-width: 500px) {
    .header > .header__nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 6vh;
        overflow: hidden;
        transition: height .5s ease-in-out;
    }

    .header > .header__nav > .nav__icon {
        display: none;
    }

    .header > .header__nav > .menu__icon {
        display: flex;
        flex-direction: column;
        gap: .4rem;
        margin-left: 1rem;
        cursor: pointer;
        margin-top: .95rem;
    }

    .header > .header__nav > .menu__icon > span {
        width: 35px;
        height: 5px;
        background-color: var(--dark-blue-color);
        border-radius: 4px;
        transition: all .5s ease-in-out;
    }

    .header > .header__nav > .nav__list {
        margin-left: -1.5rem;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        text-decoration: none;
        text-align: center;
    }

    .header > .header__nav > .nav__list > .list__item {
        margin-block: .5rem;
        font-size: 1.2rem;
    }

    .header > .header__nav > .nav__list > .list__item:hover > .bg-hover {
        width: 0;
        height: 0;
        padding-bottom: 0rem;
    }

}