:root {
    --dark-blue-color: #003049;
    --red-color: #D62828;
    --orange-color: #F77F00;
    --light-orange-color: #FCBF49;
    --beige-color: #EAE2B7;
}

@font-face {
    font-family: 'ArchivoBlack';
    src: url(../fonts/ArchivoBlack-Regular.ttf);
    font-display: swap;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--orange-color);
    color: var(--beige-color);
    font-family: 'ArchivoBlack';
    margin: 0;
}

.title {
    margin-left: 1rem;
}

.section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-inline: 1rem;
}

.section > .section__article {
    background-color: rgb(255, 255, 255, 0.2);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.section > .section__article > summary {
    cursor: pointer;
    transition: color .4s ease-in-out;
}

.section > .section__article > summary:hover {
    color: rgb(194, 194, 194);
}

.section > .section__article > .article__title {
    font-size: 1.8rem;
    text-decoration: underline;
    font-weight: bold;
}

.section > .section__article > .images {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: center;
}

.section > .section__article > .images > img {
    width: 32%;
    border-radius: 4px;
}

.section > .section__article > .article__description {
    text-align: center;
}

.section > .section__article > .article__description > .description__link {
    text-decoration: none;
    color: var(--dark-blue-color);
    transition: color .4s ease-in-out;
}

.section > .section__article > .article__description > .description__link:hover {
    color: #015c8e;
}